/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4d0;
}

header {
    background-color: #6e7a3ffd;
    color: #0c0303;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffffdc;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 30px;
    height: 30px;
}

#cart-count {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}

.products {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.product {
    background-color: hwb(240 100% 0%);
    padding: 1rem;
    border: 1px solid #f1eeee;
    width: 30%;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}

button {
    background-color: #181515;
    color: hsl(220, 100%, 99%);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6147bd;
}


.cart-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 1rem;
    background-color: #e8e5f1;
    border: 2px solid #9e1919;
    box-shadow: 0 0 10px rgba(248, 247, 247, 0.925);
}

.cart-popup h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#cart-items {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

#cart-items li {
    margin: 0.5rem 0;
}

#total-price {
    font-weight: bold;
}

.cart-popup button {
    background-color: #2ad881;
    color: #040c16;
    padding: 0.5rem;
    border: none;
    width: 100%;
    cursor: pointer;
}

.cart-popup button:hover {
    background-color: #43108573;
}




 .moto-cross img {
    width: 150px;
  padding: 10px;
  height: 200px;
 margin-top: 40px;
}
